*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#003366;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

.hero{
    background:#00509e;
    color:white;
    text-align:center;
    padding:100px 20px;
}

.content{
    padding:40px;
}

.card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

form{
    display:flex;
    flex-direction:column;
}

input, textarea{
    padding:10px;
    margin:10px 0;
}

button{
    background:#003366;
    color:white;
    padding:12px;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#00509e;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}